<!--
 ~ Copyright DB InfraGO AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<workitem id="id1">This is Text in a text workitem</workitem>
<workitem id="id2">
<span>Text</span>
<table><tr><td>1</td><td>2</td></tr></table>
</workitem>
