{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}

{{ heading(3, "New Heading", session) }}
<p>{{ global_param }}</p>
<p>{{ local_param }}</p>
<workitem id="id1">TestContent</workitem>
