{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}

{{ heading(3, "Keep Heading", session) }}
<p>Overwritten: {{ global_param }}</p>
<p>{{ local_param }}</p>
<workitem id="id2">TestContent</workitem>
