{#
    Copyright DB InfraGO AG and contributors
    SPDX-License-Identifier: Apache-2.0
#}

{% macro properties_table(props, obj) %}
<table className="min-w-full divide-y divide-gray-200">
    <thead>
        <tr>
            <th>Property Name</th>
            <th>Type</th>
            <th>Kind</th>
            <th>Multiplicity</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for property in props %}
        <tr>
            <td>{{ property.name }}</td>
            <td>
                {% if property.type.__class__ == obj.__class__ %}
                    <a href="{{ property.type | make_href }}">{{ property.type.name }}</a>
                {% else %}
                    {{ property.type.name }}
                {% endif %}
            </td>
            <td>{{ property.kind }}</td>
            <td>{{ property.min_card.value }} .. {{ property.max_card.value }}</td>
            <td>{% if property.description %}
            {{ property.description }}
            {% else %}
<p style="color:red">No description available.</p>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}

<span style="font-size: 14pt;line-height: 1.5;"><span style="font-weight: normal">{{ object.__class__.__name__ }}</span> <b>{{ object.name }}</b></span>
<br>
<p>Parent: <a href="{{ object.parent | make_href }}">{{ object.parent.name }}</a></p><br>
{% if object.description %}
<p>{{ object.description }}</p>
{% else %}
<p style="color:red">No description available.</p>
{% endif %}

<span style="font-weight: bold;font-size: 12pt;line-height: 1.5;">Owned Properties</span>
<br>
{% if object.owned_properties %}
    <p>The object owns the following properties:</p><br>
    {{ properties_table(object.owned_properties, object) |safe }}
{% else %}
    <p style="color:red">No properties are owned by this object.</p>
{% endif %}

{% if object.generalizations %}
<span style="font-weight: bold;font-size: 12pt;line-height: 1.5;">Inherited Properties</span>
{% for gen in object.generalizations %}
    {% set sup = gen.super %}
    From <b>{{sup.name}}</b>
    <p>Object <b>{{object.name}}</b> inherits the following properties from <a href="{{ sup | make_href }}">{{ sup.name }}</a></p>
    {{ properties_table(sup.owned_properties, sup) |safe }}
{% endfor%}
{% endif %}
